
.cartWidget{
  color: grey;
  font-size: 50px;
  padding-bottom: 10px;
}

.cartWidget:hover{
  color: brown;
  
}


.detailCard{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  border: solid black 2px;
  height: 80vh;
  width: 100%;
}

.detailCard_info{
  padding: 15em;;
}

.detailImg{
  height: 70vh;
}


.productos{
  display: flex;
}

.itemCard{
  border: 2px solid grey;
}
.itemCard:hover{
 border: 2px solid black
}

.itemImg{
  max-height: 50%;
  max-width: 50%;
  
}